body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    color: #00ffff !important;
}


.hero {
    background: linear-gradient(135deg, #101c3a, #182c5c);
    color: white;

    min-height: 500px;

    display: flex;
    align-items: center;

}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 25px;
}


.tech-icon {
    font-size: 150px;

    animation: float 3s infinite;

}


@keyframes float {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }

}


.services {
    background-color: #f4f4f4;
}


.service-card {
    height: 100%;

    transition: 0.3s;

}

.service-card:hover {
    transform: translateY(-8px);
}


.icon {
    font-size: 50px;
    margin-bottom: 15px;
}


.contact {
    min-height: 250px;
}


@media screen and (max-width: 768px) {

    .hero {
        padding: 80px 0;
        text-align: center;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero p {
        font-size: 18px;
    }

    .tech-icon {
        font-size: 100px;
        margin-top: 40px;
    }

}
